.App {

}

.BeautyScrollBar::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

.BeautyScrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(164, 164, 164, 0.54);
    background: rgba(0, 0, 0, 0.2);
}

.BeautyScrollBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(227, 227, 227, 0.1);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
